<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mcu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mcu">
        <activity android:name=".password_success_Activity"></activity>
        <activity android:name=".new_password_Activity" />
        <activity android:name=".forgetpassword_Activity" />
        <activity android:name=".sign_up_Activity" />
        <activity android:name=".signup_Activity" />
        <activity
            android:name=".splash_Activity"
            android:label="@string/multiple_choice_user">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login_Activity"
            android:label="@string/multiple_choice_user">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>